.social-contact {
	display: flex;
	justify-content: var(--alignment);
	align-items: center;
	column-gap: 16px;
}

.social-icon-div {
	padding: 6px 0;
	cursor: pointer;
	margin: 6px 0;
	height: 32px;
}

.social-icons {
	height: 40px;
}

.resume-link {
	display: flex;
	align-items: center;
	height: 32px;
	background-color: #1780b9;
	border-radius: 20px;
	padding: 0px 10px;
	font-size: 18px;
	color: white;
	text-decoration: none;
}

@media only screen and (max-width: 720px) {
	.social-icons {
		height: 32px;
	}
}
