.project-card {
	flex: 1;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 16px 0px;
	padding: 8px 0px;
	column-gap: 35px;
}
.reverse-order-project {
	flex-direction: row-reverse;
}
.project-photo {
	width: 350px;
	height: 200px;
	object-fit: fill; /* Maintain aspect ratio and cover the container */
}
.project-photo-box {
	cursor: pointer;
	border: 8px solid;
	border-radius: 8px;
	border-image: linear-gradient(135deg, #7e57c2, #9879ce, #d8cced);

	/* If you want to specify different borders for different sides */
	border-width: 6px;
	border-image: linear-gradient(135deg, #7e57c2, #9879ce, #d8cced) /* top border */, linear-gradient(135deg, #7e57c2, #9879ce, #d8cced) /* right border */, linear-gradient(135deg, #7e57c2, #9879ce, #d8cced) /* bottom border */,
		linear-gradient(135deg, #7e57c2, #9879ce, #d8cced) /* left border */;

	/* You can also specify the slice values if needed */
	border-image-slice: 1;
	/* border-image: repeating-linear-gradient(135deg,#D8CCED 0 10px,#D8CCED 0 20px,#D8CCED 0 30px) 8; */
	mask: conic-gradient(from 180deg at top 8px right 8px, #0000 90deg, #000 0) var(--_i, 200%) 0 /200% var(--_i, 8px) border-box no-repeat,
		conic-gradient(at bottom 8px left 8px, #0000 90deg, #000 0) 0 var(--_i, 200%) / var(--_i, 8px) 200% border-box no-repeat, linear-gradient(#000 0 0) padding-box no-repeat;

	-webkit-mask: conic-gradient(from 180deg at top 8px right 8px, #0000 90deg, #000 0) var(--_i, 200%) 0 /200% var(--_i, 8px) border-box no-repeat,
		conic-gradient(at bottom 8px left 8px, #0000 90deg, #000 0) 0 var(--_i, 200%) / var(--_i, 8px) 200% border-box no-repeat, linear-gradient(#000 0 0) padding-box no-repeat;
	transition: 0.3s, -webkit-mask-position 0.3s 0.3s;
}
.project-photo-box:hover {
	--_i: 100%;
	color: #cc333f;
	transform: scale(1.09);
	transition: 0.3s, -webkit-mask-size 0.3s 0.3s;
}

.project-title {
	font-size: 20px;
	font-weight: 600;
}

.project-tags {
	display: flex;
	max-width: 80%;
	flex-wrap: wrap;
}

.tag {
	padding: 4px 8px;
	border-radius: 4px;
	margin-right: 6px;
	margin-bottom: 4px;
}

.project-links a {
	text-decoration: none;
	color: black;
}

.project-links {
	margin-top: 6px;
	display: flex;
}

.link-button {
	display: flex;
	justify-content: center;
	align-items: center;
	width: max-content;
	padding: 4px 8px;
	border-radius: 4px;
	font-size: 16px;
	margin-right: 12px;
}

.link-button i {
	display: flex;
	align-items: center;
	mask-repeat: 4px;
}

.link-button i, img {
	margin-right: 6px;
}

@media only screen and (max-width: 720px) {
	.project-photo {
		width: 250px;
		height: 142.8571428571px;
	}
	.project-photo-box:hover {
		--_i: 100%;
		color: #cc333f;
		transform: scale(1);
		transition: 0.3s, -webkit-mask-size 0.3s 0.3s, mask-size 0.3s 0.3s;
	}
	.project-card {
		flex-direction: column-reverse;
	}
	.project-info {
		margin-left: 0px;
		margin-top: 12px;
	}
	.project-tags {
		max-width: 100%;
	}
}
